version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: mern-backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: src/Dockerfile
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
